{% extends "CustomUser/base.html" %}
{% block title %}Donation{% endblock %}
{% block head %}
<style>
  li>.nav-link:hover{
    background-color: white;
  }
</style>
{% endblock %}
{% block content %}
<h4 class="text-dark p-3">Donation</h4>
<div class="d-flex flex-column">
  <div class="d-flex align-items-center justify-content-center">
    <div class="col-sm-8 col-lg-6 col-md-6 col-10">
      <div>
        <div class="card-body">
          <p class="m-0">Welcome to</p>
          <h5 style="color: #5EBC67;">WasteWatch Nepal Donation</h5>
          <ul class="list-group mt-3" >
            {% if donations %}
              {% for donation in donations %}
                <li class="list-group-item p-3">
                  <a class="nav-link" href="{% url 'CustomUser:make_donation' donation.id %}" style="color:black;" >{{donation.user.get_full_name}} donation <span class="btn-danger rounded-pill p-1">pending</span></a>
                </li>
              {% endfor %}
            {% else %}
            <li class="list-group-item p-3">
              No donation pending
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}