{% extends "CustomUser/base.html" %}
{% block title %}Make Donation{% endblock %}
{% block content %}
<div class="d-flex flex-column justify-content-between">
    <nav class="navbar navbar-expand-lg">
        <div class="mx-lg-4 mx-3">
            <a href="{% url 'CustomUser:donate_list' %}" class="navbar-brand" style="color: #5EBC67;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
              </svg> <span class="fs-6">Back to Donation</span></a>
        </div>
    </nav>
    <div class="d-flex align-items-center justify-content-center">
        <div class="col-sm-8 col-lg-3 col-md-6 col-10">
            <div>
                <div class="card-body">
                    <p class="m-0">Add Tree Location</p>
                    <h5 style="color: #5EBC67;">WasteWatch Nepal</h5>
                    <form method="post" action="{% url 'CustomUser:make_donation' id %}">
                        {% csrf_token %}
                        {{form.as_p}}
                        <input type="submit" value="Add" class="btn w-100" style="background-color: #5EBC67;color:#FFFFFF;">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}